*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "sass/variables";

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family-body;
    font-weight: $font-weight;
    margin: 0 0 $footer-height;
}

@import "sass/content";
@import "sass/footer";
@import "sass/form";
@import "sass/grid";
@import "sass/nav";
@import "sass/text";
@import "sass/util";
