.card {
    background: $card-background;
    box-shadow: $box-shadow-small;
    margin: 15px;
    transition-duration: $transition-duration;
    transition-property: all;

    &:hover {
        box-shadow: $box-shadow-large;
        transform: translateY(-1px);
    }

    .card-img {
        border-bottom: 1px solid #ddd;
    }

    .card-body {
        padding: 15px;
    }
    
    .card-title {
        color: $header-color;
        font-size: 1.25rem;
        margin-bottom: 15px;
    }
}

.avatar-image {
    background: mix($primary-color, $dark-bg-color, 5%);
    border-radius: 50%;
    box-shadow: $box-shadow-small;
    height: 250px;
    padding: 30px 40px 40px 35px;
    margin: 0 auto;
    width: 250px;
}

img {
    height: auto;
    width: 100%;

    &.headshot {
        width: 175px;
    }
}

.pillar {
    background: $primary-color;
    height: 100%;
    margin: 0 auto;
    width: 4px;
}

.float {
    box-shadow: $box-shadow-small;
}

.dark-bg {
    background: $dark-bg-color;

    p {
        color: $dark-font-color;
    }

    h1, label {
        color: #fff;
    }

    h1:after{
        background: #fff;
    }
    
    .copyable {
        color: #fff;
    }
}

.copyable {
    cursor: pointer;
    text-decoration: underline;
}

.social-link {
    color: $icon-font-color;
    font-size: $icon-font-size;
    margin-right: 15px;
    
    &:hover, &:active {
        color: darken($icon-font-color, 15%);
    }

    .fa {
        vertical-align: top;
    }
}
