section {
    padding: 75px 0;
}

.container {
    padding: 0 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    width: 100%;
}

.container-small {
    padding: 0 15px;
}

.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 48em) {
    .col {
        width: 100%;
    }
}

@each $breakpoint in $grid-breakpoints {
    $name: nth($breakpoint, 1);
    $size: nth($breakpoint, 2);
    $container: nth($breakpoint, 3);

    @for $i from 1 through $grid-columns {
        .col-#{$name},
        .col-#{$name}-#{$i} {
            padding: 0;
        }

        @media only screen and (min-width: $size) {
            .container {
                width: $container;
            }
            .col-#{$name} {
                flex-grow: 1;
                flex-basis: 0;
                max-width: 100%;
            }
                .col-#{$name}-#{$i} {
                    flex-basis: 100% / $grid-columns * $i;
                    max-width: 100% / $grid-columns * $i;
                }
            @for $i from 1 through $grid-columns {
                .col-#{$name}-off-#{$i} {
                    //@include flexboxgrid-sass-col-common;
                    margin-left: 100% / $grid-columns * $i;
                }
            }
        }
    }
}
